<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Neuro Evolution in a game environment</title>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/p5.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/addons/p5.dom.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	
	<script src="/js/sketch.js" type="text/javascript"></script>
	<script src="/js/player.js" type="text/javascript"></script>
	<script src="/js/tile.js" type="text/javascript"></script>
	<script src="/js/population.js" type="text/javascript"></script>	
	<script src="/ai/nn.js" type="text/javascript"></script>
	<script src="/ai/matrix.js" type="text/javascript"></script>

	<link rel="stylesheet" type="text/css" href="/style.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body >			
	<span>Number of generation: </span><span id='generationnumber'></span>
	<br>
	<button id='start' class='w3-button w3-blue button'>Start</button>
	<button id='stop' class='w3-button w3-blue button'>Stop</button>
</body>
	
