body {
  padding: 0;
  background-color: #202020;
  color: white;
  text-align:center;
  animation: imageAnimation2 2s linear ; 
}  

@keyframes imageAnimation2 { 
  0% { 
    opacity: 0; 
  }
}

.button {
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  border-radius: 4px;

  transition-duration: 0.4s;
}

#defaultCanvas0 {
	display: block;
	margin: 0 auto;
}